@model Project_Manager.Models.Project

@{
    ViewData["Title"] = "EditProject";
}

<h1>Edit</h1>

<h4>Project</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditProject">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" value="@ViewBag.editItem.Id"/>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" value="@ViewBag.editItem.Name"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deadline" class="control-label"></label>
                <input asp-for="Deadline" class="form-control" value="@ViewBag.editItem.Deadline"/>
                <span asp-validation-for="Deadline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Budget" class="control-label"></label>
                <input asp-for="Budget" class="form-control" value="@ViewBag.editItem.Budget"/>
                <span asp-validation-for="Budget" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompletionPercentage" class="control-label"></label>
                <input asp-for="CompletionPercentage" class="form-control" value="@ViewBag.editItem.CompletionPercentage"/>
                <span asp-validation-for="CompletionPercentage" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Priority" class="control-label"></label>
                <select name="priority" class="form-control">
                    <option value="Urgent">Urgent</option>
                    <option value="Important">Important</option>
                    <option value="Normal">Normal</option>
                </select>
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
