@model List<Project>

@{
    ViewData["Title"] = "All Projects";
}

<h1>All Projects</h1>

@if (ViewBag.roles.Contains("Admin") || ViewBag.roles.Contains("Manager"))
{
    <form asp-action="AdminPage" asp-controller="User" style="float:left;margin-right:10px">
        <button type="submit">User Manager</button>
    </form>
    <form asp-action="CreateProject" asp-controller="Project" method="get">
        <button type="submit">Create New Project</button>
    </form>
}
@if (ViewBag.roles.Contains("Manager"))
{
    <form asp-action="Dashboard">
        <button type="submit">Dashboard</button>
    </form>
}

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Deadline</th>
            <th>Budget</th>
            <th>CompletionPercentage</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deadline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Budget)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompletionPercentage)
            </td>
            <td>
                <a asp-action="EditProject" asp-controller="Project" asp-route-projectId="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-projectId="@item.Id">Details</a> |
                <a asp-action="DeleteProject" asp-Controller="Project" asp-route-projectid="@item.Id">Delete</a>
                @if (item.CompletionPercentage == 100)
                {
                    <form asp-action="HideCompletedProject" asp-controller="Project" asp-route-projectId="@item.Id">
                        <button type="submit">Hide</button>
                    </form>
                }
            </td>
        </tr>
    }
    </tbody>
</table>
